<nav class="bg-gradient-to-r from-gray-500 to-gray-600 py-4 px-8 md:px-16 lg:px-24 xl:px-32">
    <div class="flex justify-between items-center">
      <a  class="text-white text-3xl font-semibold">ChatApp</a>
    
      <div class="md:hidden">
        <button id="mobile-menu-button" class="text-white">
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
     <div *ngIf="currentUser">
        Welcome, <span class="text-gray">{{ userDetails?.fullName }}</span>
     </div>
      <div class="hidden md:flex space-x-4">
        <button mat-stroked-button class="text-white hover:text-gray-300">Chats</button>
        <button mat-stroked-button  class="text-white hover:text-gray-300">Contacts</button>
        <button mat-stroked-button  (click)="logout()" class="text-white hover:text-gray-300">Logout</button>
        <div class="relative ml-3">
            <div>
              <button routerLink="/profile" type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </button>
            </div>
            </div>
      </div>
    </div>
    
    <div id="mobile-menu" class="hidden md:hidden">
      <div class="pt-4 pb-3 space-y-1">
        <button mat-stroked-button  class="text-white hover:text-gray-300">Chats</button>
        <button mat-stroked-button  class="text-white hover:text-gray-300">Contacts</button>
        <button mat-stroked-button (click)="logout()" class="text-white hover:text-gray-300">Logout  </button>
        <div class="relative ml-3">
            <div>
              <button routerLink="/profile" type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </button>
            </div>
            </div>
      </div>
    </div>
  </nav>
  <!-- <div *ngIf="currentUser">
    <h2>{{ userDetails?.fullName }}</h2>
    <p>Email: {{ userDetails?.email }}</p>
    <p>Mobile Number: {{ userDetails?.mobileNumber }}</p>
  </div> -->